.changeDialog
    .lock
        .title
            text-align: center
            font-size: 24px
            padding: 48px 0 46px

        .select
            padding: 0 30px

            .item
                background: url('./img/radio.png') no-repeat left center
                background-size: 16px 16px
                padding: 0 0 0 20px
                font-size: 16px
                height: 22px
                line-height: @height
                cursor pointer
                margin: 0 0 26px
                

                &.cur
                    background-image: url(./img/radioCur.png)