::-webkit-input-placeholder /* WebKit browsers */
    color: #6A6D76
    font-size: 12px
    font-family: 'Poppins-Regular'

::-moz-placeholder /* Mozilla Firefox 19+ */
    color: #6A6D76
    font-size: 12px
    font-family: 'Poppins-Regular'

:-ms-input-placeholder /* Internet Explorer 10+ */
    color: #6A6D76
    font-size: 12px
    font-family: 'Poppins-Regular'


:root
    --var-bg: #fff
    --var-text-color: #333
    --var-nav-bg: #F1F2F3
    --var-nav-cur-text: #0C0E11
    --var-nav-text: rgba(#333, .65)
    --var-border: rgba(#333, .1)
    --var-header-notice-icon-color: #FC6965
    --var-block-border: #EAEAEA
    --var-block-bg: #fff
    --var-block-icon-color: #FF8600
    --var-block-voteBlock: #F7F7F7
    --var-block-shadow: 0px 9px 35px 0px #F3F5F8
    --var-table-thead: #F7F7F7
    --var-dialog-bg: #fff
    --var-dialog-main-bg: #F5F5F5
    --var-dialog-block-bg: #fff
    --var-dialog-max-color: #F9BD00
    --var-placeholder: rgba(#0C0E11, .45)
    --var-tab-button-bg: #F3F3F3
    --var-tab-button-color: #999

    .dark
        --var-bg: #0C0E11
        --var-text-color: #fff
        --var-nav-bg: #171A1F
        --var-nav-cur-text: #FCD536
        --var-nav-text: rgba(#fff, .65)
        --var-border: #2D3239
        --var-header-notice-icon-color: #FFD84E
        --var-block-border: #171A1F
        --var-block-bg: #171A1F
        --var-block-icon-color: #FFDC8C
        --var-block-voteBlock: #1B1F25
        --var-block-shadow: none
        --var-table-thead: #1B1F25
        --var-dialog-bg: #383B40
        --var-dialog-main-bg: #26292D
        --var-dialog-block-bg: #0E1114
        --var-dialog-max-color: #FFD84E
        --var-placeholder: rgba(#fff, 0.45)
        --var-tab-button-bg: #2E3135
        --var-tab-button-color: rgba(#fff, 0.3)


html, body, #root
    height: auto
    font-size: 12px !important
    display: flex
    flex-direction: column
    flex: 1 1 0%
    position: relative

.lt-spin
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.lt-main
    background: var(--var-bg)
    flex: 1
    display: flex
    color: var(--var-text-color)
    padding: 0 40px 0 0

    .lt-content
        flex: 1
