
.lt-header
    display: flex
    margin: 40px 0
    font-size: 14px

    .notice
        flex: 1
        
        span
            display: inline-block
            height: 40px
            line-height: @height
            background: rgba(#FFD84E, .15)
            border-radius: 20px
            position: relative
            padding: 0 20px 0 40px
            color: var(--var-text-color)

            .icon
                size: 20px
                position: absolute
                left: 10px
                top: 50%
                transform: translateY(-50%)
                color: var(--var-header-notice-icon-color)

    .theme
        size(40px)
        margin: 0 20px 0 0
        border-radius: 15px
        background: var(--var-nav-bg)
        position relative
        cursor pointer
        
        img
            abCenter()

    .account
        height: 40px
        line-height: @height