
.lt-header
    display: flex
    margin: 30px 0 50px

    .notice
        flex: 1
        height: 50px
        line-height: 50px
        margin: 0 20px 0 0
        border-radius: 15px
        background: var(--var-block-bg)
        box-shadow: 0 0 5px var(--var-block-shadow)
        padding: 0 20px

        span
            position: relative
            padding: 0 0 0 30px
            color: #f14e16

            .icon
                position absolute
                left: 0
                top: 50%
                transform: translateY(-50%)
        

    .theme
        size(50px)
        margin: 0 20px 0 0
        border-radius: 15px
        background: var(--var-block-bg)
        box-shadow: 0 0 5px var(--var-block-shadow)

    .box
        height: 50px
        line-height: 50px
        margin: 0 20px 0 0
        border-radius: 15px
        background: var(--var-block-bg)
        box-shadow: 0 0 5px var(--var-block-shadow)
        padding: 0 20px

    .account
        height: 50px
        line-height: 50px
        border-radius: 15px
        background: var(--var-block-bg)
        box-shadow: 0 0 5px var(--var-block-shadow)
        padding: 0 20px