.loginDialog
    .ant-modal-body
        padding: 0
    
    .ant-modal-content
        background: var(--var-dialog-bg)
        border-radius: 15px
        padding: 20px
        color: var(--var-text-color)

        .modalTitle
            position: relative

            .title
                font-size: 20px

        .wallet
            flexWrap()
            padding: 20px

            .item
                flexWrapItem(4)
                text-align: center
                padding: 10px 0 0

                img
                    display: block
                    size(50px)
                    margin: 0 auto 10px