.loginDialog
  .modalMain
    .walletHeader
      width: 200px
      margin: 0 auto
      text-align: center

      .select
        border: 1px solid #999
        margin: 10px auto 0
        height: 30px
        line-height: 30px

    .wallet
      padding: 20px
      display: flex
      flex-wrap: wrap
      align-content: flex-start

      .item
        text-align: center
        padding: 10px 0 0
        flex: 0 0 25%

        img
          display: block
          margin: 0 auto 10px
          height: 50px
          width: 50px
