
.lt-nav
    width: 300px

    .logo
        height: 50px
        text-align: center

    .menu
        padding: 0 30px
        .item
            border-radius: 15px
            text-align: center
            font-size: 20px
            height: 40px
            line-height: @height
            cursor pointer

            &:hover
                background: var(--var-main-color)