
.navLanguageDown
    .ant-dropdown-menu
        background: var(--var-bg) !important
        color: var(--var-nav-text) !important
        border-radius: 10px
        overflow: hidden

        .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title
            color: var(--var-nav-text)
            font-size: 16px

            &:hover
                background: none
                color: var(--var-nav-cur-text)

.lt-nav
    width: 240px
    min-width: @width
    background: var(--var-nav-bg)
    margin: 0 40px 0 0
    box-sizing: border-box
    padding: 0 0 0 30px

    .logo
        display: block
        height: 41px
        width: 128px
        text-align: center
        background: url('./img/logo-default.png') no-repeat
        background-size: 100% 100%
        margin: 40px 0 40px 10px

        &.dark
            background-image: url('./img/logo-dark.png')

    .menu
        .item
            font-size: 16px
            height: 64px
            line-height: @height
            cursor: pointer
            display: flex
            color: var(--var-nav-text)
            margin: 0 0 8px
            position: relative

            &.cur
                background: var(--var-bg)
                color: var(--var-nav-cur-text)
                border-top-left-radius: 32px
                border-bottom-left-radius: 32px

                &:after, &:before
                    position: absolute
                    content: ' '
                    display: block
                    size: 32px
                    background: var(--var-bg)
                    right: 0
                    background-image: radial-gradient(32px at 32px 0, var(--var-nav-bg) 32px, var(--var-bg) 32px)

                &:before
                    top: -32px
                    transform: rotate(-90deg)

                &:after
                    bottom: -32px
                    transform: rotate(180deg)

            &:hover
                color: var(--var-nav-cur-text)

            i
                display: block
                height: 64px
                line-height: @height
                position: relative
                text-align: center
                padding: 0 0 0 60px

                .icon
                    size(20px)
                    abCenter()

            span
                flex: 1

            em
                width: 20px
                display: block
                height: 64px
                line-height: @height
                position: relative
                text-align: center

                .icon
                    size(8px)
                    abCenter()

    .doc
        padding: 24px 0
        margin: 0 30px 0 0
        border-top: 1px solid var(--var-border)

    .language
        background: var(--var-bg)
        color: var(--var-nav-text)
        width: 186px
        height: 64px
        line-height: @height
        border-radius: 32px
        box-sizing: border-box
        padding: 0 16px 0 20px
        font-size: 16px
        position: relative
        display: flex
        margin: 0 0 33px
        cursor: pointer

        &:hover
            color: var(--var-nav-cur-text)

        i
            display: block
            height: 64px
            line-height: @height
            position: relative
            text-align: center
            padding: 0 0 0 60px

            .icon
                size(20px)
                abCenter()

        span
            flex: 1

        em
            width: 20px
            display: block
            height: 64px
            line-height: @height
            position: relative
            text-align: center

            .icon
                size(8px)
                abCenter()

    .medium
        justifyContentSpaceBetween()
        width: 186px

        .item
            size: 40px
            background: var(--var-bg)
            color: var(--var-nav-text)
            border-radius: 8px
            position: relative
            cursor: pointer

            &:hover
                color: var(--var-nav-cur-text)

            .icon
                size(18px)
                abCenter()
