.usageAsCollateral
    padding: 0 32px

    .item
        justifyContentSpaceBetween()
        padding: 0 0 20px

        .key
            font-size: 16px
            color: var(--var-text-color)

        .value
            font-size: 16px
            color: var(--var-nav-text)

    .notice
        font-size: 14px
        color: #FF5D13