.changeDialog
    .ant-modal-body
        padding: 0

    .ant-modal-content
        background: var(--var-dialog-bg)
        border-radius: 15px
        color: var(--var-text-color)

        .symbol
            text-align: center

            .symbolIcon
                position relative
                margin: -48px 0 16px

                img
                    position relative
                    z-index: 1

                &:after
                    position absolute
                    display: block
                    content: ' '
                    width: 85px;
                    height: 61px;
                    background: rgba(#000, .1);
                    filter: blur(8px);
                    bottom: -6px
                    left: 5px
                    border-radius: 96px

            .text
                font-size: 24px

        .tab
            display: flex
            font-size: 18px

            .tabItem
                flex: 1
                text-align: center
                position: relative
                padding: 24px 0 11px
                cursor: pointer
                color: var(--var-nav-text)

                &.cur
                    color: var(--var-nav-cur-text)

                    &:after
                        content: ' '
                        width: 60px;
                        height: 2px;
                        background: #FFD84E;
                        display: block
                        position: absolute
                        bottom: 0
                        left: 50%
                        transform: translate(-50%, 0)

        .tabMain
            background: var(--var-dialog-main-bg)
            padding: 16px 32px
            border-bottom-left-radius: 15px
            border-bottom-right-radius: 15px

            .block
                background: var(--var-dialog-block-bg)
                padding: 25px 40px


        .dialogFooter
            text-align: center

            .submit
                display: inline-block
                height: 40px
                line-height: @height
                background: #FFD84E
                border-radius: 20px
                font-size: 16px
                font-family: PingFangSC-Regular, PingFang SC
                font-weight: 400
                text-align: center
                color: #0C0E11
                box-shadow: 0px 2px 5px 0px rgba(#FFD84E, 0.5)
                padding: 0 40px
